<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <ul>
       
<% employee.forEach(emp => { %>
    <p><%= emp.name %> - <%= emp.salary %> <a href="/editEmp/<%= emp.id %>">Edit</a> | <a href="/delEmp/<%= emp.id %>" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></p>
<% }); %>

    </ul>
    <a href="/addEmp">Add New Employee</a>
</body>
</html>